SUBSYSTEMS=="usb", ACTION=="add", ATTRS{devpath}=="1.1", KERNEL=="eth*", NAME="UMTS1", RUN+="/usr/share/nGcontrol/mwan/dongleUp 1"
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{devpath}=="1.2", KERNEL=="eth*", NAME="UMTS2", RUN+="/usr/share/nGcontrol/mwan/dongleUp 2"
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{devpath}=="1.3", KERNEL=="eth*", NAME="UMTS3", RUN+="/usr/share/nGcontrol/mwan/dongleUp 3"
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{devpath}=="1.4", KERNEL=="eth*", NAME="UMTS4", RUN+="/usr/share/nGcontrol/mwan/dongleUp 4"
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{devpath}=="1.5", KERNEL=="eth*", NAME="UMTS5", RUN+="/usr/share/nGcontrol/mwan/dongleUp 5"
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{devpath}=="1.6", KERNEL=="eth*", NAME="UMTS6", RUN+="/usr/share/nGcontrol/mwan/dongleUp 6"

SUBSYSTEMS=="usb", ACTION=="remove", ATTRS{devpath}=="1.1", KERNEL=="UMTS1", RUN+="/usr/share/nGcontrol/mwan/dongleDown 1"
SUBSYSTEMS=="usb", ACTION=="remove", ATTRS{devpath}=="1.2", KERNEL=="UMTS2", RUN+="/usr/share/nGcontrol/mwan/dongleDown 2"
SUBSYSTEMS=="usb", ACTION=="remove", ATTRS{devpath}=="1.3", KERNEL=="UMTS3", RUN+="/usr/share/nGcontrol/mwan/dongleDown 3"
SUBSYSTEMS=="usb", ACTION=="remove", ATTRS{devpath}=="1.4", KERNEL=="UMTS4", RUN+="/usr/share/nGcontrol/mwan/dongleDown 4"
SUBSYSTEMS=="usb", ACTION=="remove", ATTRS{devpath}=="1.5", KERNEL=="UMTS5", RUN+="/usr/share/nGcontrol/mwan/dongleDown 5"
SUBSYSTEMS=="usb", ACTION=="remove", ATTRS{devpath}=="1.6", KERNEL=="UMTS6", RUN+="/usr/share/nGcontrol/mwan/dongleDown 6"
